body{
    background-color: black;
    background-image: url("Background-Cinema.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.nav-wrapper{
    background-color:#636162;
}
.input-field label {
    color: #636162;
}
.input-field textarea[class=materialize-textarea]:focus {
    border-bottom: 1px solid whitesmoke;
    box-shadow: 0 1px 0 0 whitesmoke;
    color: whitesmoke;
}
label.active {
    color: rgb(158, 8, 8) !important;
  }
#submit-btn{
    background-color: rgb(158, 8, 8);
    margin-top: 15px;
}
#click-text{
    text-align: center;
}
.select-dropdown{
    color: white;
}
ul.dropdown-content.select-dropdown li span {
    color:  rgb(158, 8, 8); 
    background-color: #636162;
}
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid whitesmoke;
}

